<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <title>花田啊</title>
</head>
<body class="container">

<div class="page-header">
    <h1>
        <small>HuaTian</small>
        XinShi
    </h1>
    <h1>花田心事</h1>
</div>

<div class="container">
    <a href="/see" class="btn btn-info" role="button">查看</a>
</div>

<div>

</div>

<div class="bs-example" data-example-id="blockquote-cite">
    <blockquote>
        <p>The only thing standing between you and your goal is the story you keep telling yourself as to why you can't achieve it.</p>
        <footer>Jordan Belfort</footer>
    </blockquote>


</div>

</body>
</html>