<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- build:css /public/bower_components/bootstrap/dist/css/bootstrap.min.css -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <!-- endbuild -->
    <title>花田啊</title>
</head>
<body class="container">

<div class="page-header">
    <h1>Example page header
        <small>Subtext for header</small>
    </h1>
    <h1>花田心事</h1>
</div>

<div class="container">
    <a href="/see" class="btn btn-info" role="button">查看</a>
</div>

<div class="bs-example" data-example-id="blockquote-cite">
    <blockquote>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
    </blockquote>




</div>

</body>
</html>